html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Roboto;
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: .7fr 4fr 3.5fr 3fr 3fr 3fr;
    grid-template-areas: 
    "main main header"
    "main main food-pic"
    "type-food price food-pic"
    "type-food price food-pic"
    "location idk food-pic"
    "location idk food-pic";
    height: 150vh;
}

main {
    grid-area: main;
    background-color: #fff1e6;
    height: 70vh;
}

section.type-food {
    grid-area: type-food;
    background-color: green;
}

section.price {
    grid-area: price;
    background: pink;
    height: 55vh;
}

section.location {
    grid-area: location;
    background-color: red;
    height: 50vh;
}

section.idk {
    grid-area: idk;
    background-color: aqua;
}

header {
    grid-area: header;
    background-color: #B7B7A4;
}

.food-pic {
    grid-area: food-pic;
    background: url("../images/food.jpg");
    background-size: cover;
    background-position: 50%;
}


/* Main Intro */

.intro h1, h2 {
    text-transform: uppercase;
}

.intro h1 {
    position: relative;
    top: 10px;
    left: 70px;
    color: #A5A58D;
    font-size: 45px;
}

.intro h2 {
    position: relative;
    top: 50px;
    left: 71px;
    color: #495057
}

.intro hr {
    position: relative;
    width: 30%;
    top: 110px;
    right: 150px;
    height: 1px;
    background-color: #495057;
    border: none;
}

.intro p {
    position: relative;
    top: 30px;
    left: 75px;
    width: 70%;
    color: #495057;
}

 .burger, 
.spaghetti,
.steak,
.sushi,
.crab,
.taco {
    position: relative;
    top: 30%;
    filter: drop-shadow(.5px .5px .5px black);
}


/* Header */

.nav a {
    text-decoration: none !important;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 50px;
}

















/* HEADER */
/* .header {
    position: absolute;
    top: 0%;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 3px;
    background-color: #fff1e6;
    color: #495057;
} */

/* .burger, 
.spaghetti,
.steak,
.sushi,
.crab,
.taco {
    position: absolute;
    top: 30%;
    filter: drop-shadow(.5px .5px .5px black);
}

.burger {
   left: 5%;
}

.spaghetti {
    left: 15%;
}

.steak {
    left: 25%;
}

.sushi {
    right: 5%;
}

.crab {
    right: 15%;
}

.taco {
    right: 25%;
}

.header hr {
    width: 30%;
    height: 2px;
    background-color: #B7B7A4;
    border: none;
} */

/* NAVBAR */
/* .nav {
    position: absolute;
    width: 100%;
    height: 35%;
    background-color: #B7B7A4;
}

.nav a {
    text-decoration: none;
    color: #495057;
}

.nav ul {
    display: flex;
    justify-content:space-evenly;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    font-size: 80%;
} */

/* INTRODUCTION  */
/* .intro {
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

.intro h2 {
    position: absolute;
    left: 7%;
    top: 55px;
    font-size: 35px;
    letter-spacing: 1rem;
    color: #495057
}

.restaurant {
    position: absolute;
    left: 3.5%;
    top: 85px;
    letter-spacing: -9px;
    font-size: 85px;
}

.hub {
    position: absolute;
    left: 16%;
    top: 170px;
    letter-spacing: -10px;
    font-size: 85px;
}

.intro hr {
    position: absolute;
    left: 6.6%;
    top: 125px;
    width: 30%;
    height: 1px;
    background-color: black;
    border: none;
}

.intro h4 {
    position: absolute;
    left: 68%;
    top: 80px;
}

.intro p {
    position: absolute;
    top: 130px;
    left: 50%;
    margin-left: 110px;
    margin-right: 110px;
    line-height: 140%;
    text-transform: none;
    letter-spacing: 1.5px;
} */

