html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.5fr;
    grid-template-rows: .7fr 4fr 3.5fr 3fr 3fr 3fr;
    gap: 7px;
    grid-template-areas: 
    "main main header"
    "main main food-pic"
    "cuisine price food-pic"
    "cuisine price food-pic"
    "location idk food-pic"
    "location idk food-pic";
    height: 195vh;
    background-color: #fff1e6;
}

main {
    grid-area: main;
    background-color: #fff1e6;
    height: 73vh;
}

section.cuisine {
    grid-area: type-food;
    background-color: #A5A58D;
    height: 55vh;
}

section.price {
    grid-area: price;
    background: #A5A58D;
    height: 55vh;
}

section.location {
    grid-area: location;
    background-color: #A5A58D;
    height: 55vh;
    margin-top: -20px;
}

section.idk {
    grid-area: idk;
    background-color: #A5A58D;
    height: 55vh;
}

header {
    grid-area: header;
    background-color: #B7B7A4;
}

.food-pic {
    grid-area: food-pic;
    background: url("../images/food.jpg");
    background-size: cover;
    background-position: 50%;
    height: 97.4%;
}


/* Main Intro */
.intro h1, h2 {
    text-transform: uppercase;
}

.intro h1 {
    position: relative;
    top: 10px;
    left: 70px;
    color: #A5A58D;
    font-size: 45px;
}

.intro h2 {
    position: relative;
    top: 50px;
    left: 71px;
    color: #495057
}

.intro hr {
    position: relative;
    width: 30%;
    top: 110px;
    right: 150px;
    height: 1px;
    background-color: #495057;
    border: none;
}

.intro p {
    position: relative;
    top: 30px;
    left: 75px;
    width: 70%;
    color: #495057;
    line-height: 25px;
}

.burger, 
.spaghetti,
.steak,
.sushi,
.crab,
.taco {
    position: relative;
    left: 50px;
    padding: 15px 20px;
    top: 30%;
    filter: drop-shadow(.5px .5px .5px black);
    height: 30px;
    width: 30px;
}

.intro a {
    text-decoration: none;
}

/* Header */
.nav a {
    text-decoration: none !important;
    color: #495057;
    text-transform: uppercase;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 30px;
    position: relative;
    left: 25px;
}


/* Picker Section */
.cuisine h1,
.price h1,
.location h1 {
    color: #495057;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 6%;
}

.cuisine hr,
.price hr,
.location hr {
    width: 20%;
    position: relative;
    top: 4%;
    height: 1px;
    background-color: #495057;
    border: none;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff1e6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #495057; 
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #CB997E;
    content: '';
    display: inline-block;
    visibility: visible;
}


/* Cuisine Section */
.cuisine-radio {
    position: relative;
    left: 105px;
    bottom: 4%;
    padding: 50px;
    font-size: 20px;
    color: #343a40;
}

/* Price Section */
.price-radio {
    position: relative;
    left: 130px;
    bottom: 2%;
    padding: 50px;
    font-size: 20px;
    color: #343a40;
}

/* Location Section */
.location-radio {
    position: relative;
    left: 25%;
    bottom: 2%;
    padding: 50px;
    font-size: 20px;
    color: #343a40;
}



/* Submit Button */
button {
    position: relative;
    left: 158px;
    bottom: 125px;
    background: #CB997E;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    height: 50px;
    width: 100px;
   }
   
   button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }


   /* Borders for Form */
   .cuisine .cuisine-border1 {
       position: relative;
       right: 62%;
       bottom: 263px;
   }

   .cuisine .cuisine-border2 {
       position: relative;
       right: 13px;
       bottom: 273px;
   }

   .cuisine .cuisine-border3 {
       position: relative;
       transform: rotate(90deg);
       width: 100%;
       bottom: 126px;
       left: 18.3px;
   }
   
   .cuisine .cuisine-border4 {
       position: relative;
       width: 78%;
       right: 105px;
       top: 21px;
   }

   .cuisine .cuisine-border5 {
       position: relative;
       transform: rotate(90deg);
       width: 100%;
       right: 228px;
       bottom: 149px;
   }

   .price .price-border1 {
       position: relative;
       width: 15%;
       right: 76%;
       bottom: 227px
   }

   .price .price-border2 {
       position: relative;
       width: 15%;
       bottom: 237px;
       right: 6%;
   }

   .price .price-border3 {
       position: relative;
       transform: rotate(90deg);
       width: 100%;
       bottom: 90px;
       left: 1.5%;
   }

   .price .price-border4 {
       position: relative;
       width: 84.6%;
       top: 57px;
       right: 41%
   }

   .price .price-border5 {
       position: relative;
       transform: rotate(90deg);
       width: 100%;
       right: 264px;
       bottom: 113px
   }

   .location .location-border1 {
       position: relative;
       bottom: 140px;
       right: 207px;
   }

   .location .location-border2 {
       position: relative;
       bottom: 151.5px;
       right: 3px;
   }

   .location .location-border3 {
       position: relative;
       transform: rotate(90deg);
       width: 80%;
       bottom: 35.7px;
       left: 29px;
   }

   .location .location-border4 {
       position: relative;
       width: 19%;
       top: 79px;
       right: 2px;
   }

   .location .location-border5 {
       position: relative;
       width: 21%;
       top: 68px;
       right: 206px;
   }

   .location .location-border6 {
       position: relative;
       transform: rotate(90deg);
       width: 80%;
       right: 239px;
       bottom: 69px
   }
